<%# Это фрагмет (паршал, partial) для вывода вопроса. В нем определена %>
<%# локальная переменная question, в которую при вызове будет передан %>
<%# как в метод ruby объект после ключа (object: @question) %>

<div class="question">
  <div class="question-content">

     <div class="text-small">
      <% author = question.author %>
      <%= author ? (link_to "@#{author.username}", author) : t('global.text.unknown') %>
    </div>

    <section class="card-header">
       <% if !author&.gravatar_hash.blank? && author.username != Dotenv.load('.env')['TEST_USERNAME'] %>
          <%= image_tag "https://www.gravatar.com/avatar/#{author&.gravatar_hash}.jpg?s=#{50}",
                    class: 'user-image', alt: '[Foto]' %>
       <% elsif author&.gravatar_hash.present? && author.username == Dotenv.load('.env')['TEST_USERNAME'] %>
          <%= image_tag 'Elizabeth.jpg', height: '80', width: '70',
                    class: 'user-image', alt: '[Foto]' %>
       <% else %>
          <%= image_tag 'avatar.jpg', size: '50',
                    class: 'user-image', alt: '[Foto]' %>
       <% end %>
    </section>

    <%# Текст вопроса %>
    <div class="card-body">
      <div class="question-text text-lead">
        <% if question.text.split.map { |str| str.chars.count }.max > 40 %>
          <p class="my-2">
            <%= truncate strip_tags(question.text), length: 40, omission: t('global.text.omission') %>
          </p>
        <% else %>
          <%= question.text %>
        <% end %>
      </div>

      <%# Текст ответа, если он есть %>
      <% if question.answer.present? %>
        <div class="question-answer text-lead">
          <% if question.answer.split.map { |str| str.chars.count }.max > 40 %>
            <p class="my-2">
              <%= truncate strip_tags(question.answer), length: 40, omission: t('global.text.omission') %>
            </p>
          <% else %>
            <%= question.answer %>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="question-text text-lead">
      <% question.hashtags.each do |hashtag| %>
        <%= link_to "#{hashtag.text}", hashtag_path(hashtag.text), class: 'hashtag' %>
      <% end %>
    </div>


    <%# Дата создания вопроса (отформатированная) %>
    <div class="question-date">
      <%= question.decorate.formatted_created_at %>
    </div>
  </div>

  <%# Если адресат вопроса — текущий пользователь, он может редактировать вопрос %>
  <%# и отвечать на него %>
  <% if question.user == current_user %>
    <%# Определяем какая будет иконка, если у вопроса нет ответа, то иконка %>
    <%# овтета на письмо, иначе — карандашик %>
    <% edit_icon = question.answer.blank? ? 'reply' : 'pencil' %>
    <div class="question-actions">
      <%= link_to fa_icon(edit_icon), edit_question_path(question) %>
      <%= link_to fa_icon('trash-o'), question_path(question),
                  method: :delete, data: {confirm: t('global.dialog.you_sure')} %>
    </div>
  <% end %>
</div>


