<% provide :page_title, t('.form.title') %>

<%# Страница редактирования пользователя %>
<div class="container content-wrapper buffer-both">
<h1 class="title-medium"><%= t('.form.title') %></h1>

  <div class="column-1-2">
    <%# С помощью специального хелпера form_for мы делаем тег <form ...> %>
    <%# с нужными аттрибутами, после этого в переменной f будет специальный %>
    <%# объект (form builder object), вызывая методы которого мы можем %>
    <%# создавать теги для нужных нам полей формы. %>
      <%= form_for @user do |f| %>
      <%# Вывод ошибок валидации пользователя, если есть. Ошибки содержатся %>
      <%# в поле errors модели (в нашем случае @users). %>
      <%= render 'shared/errors', object: @user %>
      <%# С помощью методов label и text_field у объекта f мы создаем теги %>
      <%# <label ... > и <input type="text" ... > с нужными атрибуами %>
        <div class="form-field"> <%= f.label t('.form.username'), class: 'form-label' %>
        <%= f.text_field :username, class: 'form-text-field' %>
      </div>

      <%# Поступаем аналогично для других полей %>
      <div class="form-field">
        <%= f.label t('.form.name'), class: 'form-label' %>
        <%= f.text_field :name, class: 'form-text-field' %>
      </div>

      <div class="col-sm-2 col-form-label">
        <div class="form-field">
          <%= f.label :role, class:'form-label' %>
        </div>

          <%# readonly: true  - в это поле ввести ничего нельзя, да и в НЕадминском контроллере
          среди разрешенных параметров роли нет к тому же. Роль поменять не получится%>
        <div class="form-field">
          <%= f.text_field :role, value: t(@user.role, scope: 'global.user.roles'),
             class: 'form-control-plaintext form-control', readonly: true %>
        </div>
      </div>

      <div class="col-sm-2 col-form-label">
        <div class="form-field">
          <%= f.label :status, class:'form-label' %>
        </div>

        <%# readonly: true  - в это поле ввести ничего нельзя, да и в НЕадминском контроллере
        среди разрешенных параметров статуса нет к тому же. Статус поменять не получится %>
        <div class="form-field">
          <%= f.text_field :status, value: t(@user.status, scope: 'global.user.statuses'),
            class: 'form-control-plaintext form-control',readonly: true %>
        </div>
      </div>

      <% unless @user.api_token.blank?%>
        <div class="col-sm-2 col-form-label">
          <div class="form-field">
            <%= f.label :api_token, class:'form-label' %>
            <%= f.text_field :api_token, value: @user.api_token,
              class: 'form-control-plaintext form-control',readonly: true %>
          </div>
        </div>
      <% end %>

      <div class="form-field">
        <%= f.label t('.form.background_color'), class: 'form-label' %>
        <%= f.color_field :background_color, value: @user.bg_color %>
      </div>

      <div class="buffer-top-large buffer-bottom"><%= t('.form.message') %></div>

      <div class="form-field">
        <%= f.label t('.form.password'), class: 'form-label' %>
        <%= f.password_field :password, class: 'form-text-field' %>
      </div>

      <div class="form-field">
        <%= f.label t('.form.password_confirmation'), class: 'form-label' %>
        <%= f.password_field :password_confirmation, class: 'form-text-field' %>
      </div>

      <% unless @user.new_record? %>
      <div class="form-field">
        <%= f.label t('.form.old_password'), class: 'form-label'%>
        <%= f.password_field :old_password, class: 'form-text-field' %>
      </div>
    <% end %>
  <% t_key = (@user.new_record? ? "register" : "save") %>
  <%= f.submit t(t_key, scope: 'users.global.forms'), class: 'button button-dark button-small' %>
    <%= link_to t('global.button.delete'), @user, method: :delete,
         class: 'button button-red button-small', data: {confirm: t('global.dialog.you_sure')}%>
  <% end %>

  <%# Подробнее про помощники для создания форм: %>
  <%# http://guides.rubyonrails.org/form_helpers.html %>
</div></div>


