<%= form_with model: [@album.user, album] do |form| %>
  <% if album.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(album.errors.count, "error") %> prohibited this album from being saved:</h2>

      <ul>
        <% album.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-field">
    <%= form.label :title, t('albums.global_form.title') , style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div class="form-field">
    <%= form.label :description, t('albums.global_form.description'), style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div class="form-field">
    <%= form.label :album_photos, t('albums.global_form.album_photos') %>
    <%= form.file_field :album_photos, multiple: true %>
  </div>

  <div class="form-actions">
  <% t_key = (album.new_record? ? "save" : "update") %>
  <%= form.submit t(t_key, scope: 'albums.global.forms') %>
  </div>
<% end %>
